.Robo {
  height: 300px; 
  width: 300px; 
  object-fit: contain;
  display: inline-block;
}
.RObo {
  font-family: arial;
  font-size: bold;
  display: inline-block;
  width: 250px;
  margin: 10px;
}